<ion-header class="header ion-no header rounded-b-lg">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Absensi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top-section">
    <!-- <h2 class="ml-5 font-medium">Absensi Hari ini</h2> -->
    <ion-card class="py-2 px-2 mt-5 flex flex-row">
      <ion-avatar>
        <img src="assets/icon/avatar.svg" />
      </ion-avatar>
      <div class="flex flex-col justify-center ml-5">
        <ion-card-title>Nama : Ahsan Failasuf</ion-card-title>
        <ion-card-subtitle>Level : level 1 Siang</ion-card-subtitle>
      </div>
    </ion-card>
    <h3 class="ml-5 text-lg">Status</h3>

  </div>

  <div class="timeline-wrapper">
    <div class="node">
      <ion-card class="flex flex-row">
        <ion-card-header>
          <h3 class="text-black">Anak anda sudah pulang</h3>
          <p class="text-base">25 Jun 2022, 11:00</p>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="node">
      <ion-card class="flex flex-row">
        <ion-card-header>
          <h3 class="text-black">Anak anda sudah pulang</h3>
          <p class="text-base">25 Jun 2022, 11:00</p>
        </ion-card-header>
      </ion-card>
    </div>

    <div class="node">
      <ion-card class="flex flex-row">
        <ion-card-header>
          <h3 class="text-black">Anak anda sudah pulang</h3>
          <p class="text-base">25 Jun 2022, 11:00</p>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="node">
      <ion-card class="flex flex-row">
        <ion-card-header>
          <h3 class="text-black">Anak anda sudah pulang</h3>
          <p class="text-base">25 Jun 2022, 11:00</p>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="node">
      <ion-card class="flex flex-row">
        <ion-card-header>
          <h3 class="text-black">Anak anda sudah pulang</h3>
          <p class="text-base">25 Jun 2022, 11:00</p>
        </ion-card-header>
      </ion-card>
    </div>
    <div class="node">
      <ion-card class="flex flex-row">
        <ion-card-header>
          <h3 class="text-black">Anak anda sudah pulang</h3>
          <p class="text-base">25 Jun 2022, 11:00</p>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>