<ion-header class="header ion-no-border rounded-b-lg">
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-button slot="end" fill="solid" class="button-edit" routerLink="/edit-student">
      <ion-icon name="pencil"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="relative group flex flex-col items-center  mt-5">
    <img class="shrink-0 h-auto w-1/2 rounded-full" src="assets/icon/avatar.svg" alt="avatar.jpg" />

    <p class="text-2xl font-semibold text-slate-700  mt-10">John Doe</p>
    <p class="text-base font-medium text-slate-500">Wali dari dia</p>
    <hr>
  </div>

  <div class="flex flex-col">
    <h3 class="ml-5 font-semibold text-lg">Profile Details</h3>

    <p class="ml-5 mt-5 font-semibold text-base">Nama Lengkap</p>
    <p class="ml-5 font-normal text-sm ">John Doe</p>
    <div class="flex items-center justify-center">
      <hr class="hr1">
    </div>

    <p class="ml-5 mt-5 font-semibold text-base">Tempat, Tanggal Lahir</p>
    <p class="ml-5 font-normal text-sm ">Bandung, 20 Agustus 2000</p>
    <div class="flex items-center justify-center">
      <hr class="hr1">
    </div>

    <p class="ml-5 mt-5 font-semibold text-base">Nomor Handphone</p>
    <p class="ml-5 font-normal text-sm ">08818022231</p>
    <div class="flex items-center justify-center">
      <hr class="hr1">
    </div>

    <p class="ml-5 mt-5 font-semibold text-base">Email</p>
    <p class="ml-5 font-normal text-sm ">permanaasyiek24@gmail.com</p>
    <div class="flex items-center justify-center">
      <hr class="hr1">
    </div>

    <p class="ml-5 mt-5 font-semibold text-base">Jenis Kelamin</p>
    <p class="ml-5 font-normal text-sm ">Laki-laki</p>
    <div class="flex items-center justify-center">
      <hr class="hr1">
    </div>


  </div>
</ion-content>