<ion-header class="header ion-no-header rounded-b-lg">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ml-5 text-start text-3xl font-bold">Notifikasi Hari ini</h2>
  <ion-card class="mt-5">
    <ion-list>
      <ion-item lines="none">
        <div class="flex flex-row ">
          <div class="flex flex-col ">
            <p class="text-lg font-semibold w-60">anak anda sudah pulang dari rumah tahfidz</p>
            <p class="text-base font-normal w-58 opacity-70">terima kasih telah menggunakan aplikasi absensi untuk
              layanan
              kehadiran
              dan kepulangan ananda</p>
          </div>
          <ion-text class="absolute right-3 top-0 opacity-60 text-sm">25 Jun</ion-text>
        </div>
      </ion-item>

      <ion-item lines="none">
        <div class="flex flex-row ">
          <div class="flex flex-col ">
            <p class="text-lg font-semibold w-60">anak anda sudah pulang dari rumah tahfidz</p>
            <p class="text-base font-normal w-58 opacity-70">terima kasih telah menggunakan aplikasi absensi untuk
              layanan
              kehadiran
              dan kepulangan ananda</p>
          </div>
          <ion-text class="absolute right-3 top-0 opacity-60 text-sm">25 Jun</ion-text>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>