<ion-header class="header ion-no-header rounded-b-lg ">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center -ml-12"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="term" show-cancel-button="focus" animated></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let item of items|filter:term" class="text-black font-semibold text-2xl">
      {{item.name}}
    </ion-card>
  </ion-list>
  <div class="flex flex-row justify-center">
    <div
      class="z-40 -ml-5 text-xl font-bold text-white w-10 h-10 bg-warning rounded-full py-6 px-6 border-4 border-solid border-black">
      05</div>
    <div
      class="z-30 -ml-5 text-xl font-bold text-white w-10 h-10 bg-warning rounded-full py-6 px-6 border-4 border-solid border-black">
      04</div>
    <div
      class="z-10 -ml-5 text-xl font-bold text-white w-10 h-10 bg-warning rounded-full py-6 px-6 border-4 border-solid border-black">
      03</div>
    <div
      class="z-10 -ml-5 text-xl font-bold text-white w-10 h-10 bg-warning rounded-full py-6 px-6 border-4 border-solid border-black">
      02</div>
    <div
      class="z-0 -ml-5 text-xl font-bold text-white w-10 h-10 bg-warning rounded-full py-6 px-6 border-4 border-solid border-black">
      01</div>
  </div>
</ion-content>