.header{
  display: flex;
  // flex: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #FFA825;
}

hr{
  border-top: 1px solid rgb(149, 149, 149);
  width: 300px;
  
}

.profile-card {
  @apply h-36 rounded-md;
  background-color: var(--ion-color-warning);
  ion-card-title{
    @apply z-50 overflow-hidden w-48 sm:w-4/5 text-xl font-semibold mt-6 ml-3 leading-6 text-white;
  }
  ion-card-subtitle {
    @apply z-50 overflow-hidden w-48 sm:w-4/5 text-xs mt-2 ml-3 font-normal text-white tracking-tight;
    // display: -webkit-box;
    // -webkit-line-clamp: 1; /* number of lines to show */
    // line-clamp: 2;
    // -webkit-box-orient: vertical;
  }

  img {
    @apply absolute right-2 top-3 bottom-0  w-40;
  }
}