.container{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 50vh;
    margin-top: 50%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3{
        color: rgb(252, 167, 30);

    }
    p{
        color: rgb(252, 167, 30);
    }
}

.btnlogt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ion-icon{
    font-size: 10em;
}
